<div class="container" ng-app="receiptApp" ng-controller="ReceiptListCtrl">
    <div class="row">
        <div class="col-lg-8">
            <input id="receipts" type="text" class="hidden" value="{{receipts}}"/>
            <input id="state" type="text" class="hidden" value="{{state}}"/>
            <table class="table table-bordered table-hover">
                <caption>{{{__ "Receipts Management"}}}</caption>
                <thead>
                <tr>
                    <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()"/></th>
                    <th>{{{__ "Ident"}}}</th>
                    <th>{{{__ "UnitSize"}}}</th>
                    <th>{{{__ "TargetWeight"}}}</th>
                    <th>{{{__ "PackagingType"}}}</th>
                </tr>
                </thead>
                <tr ng-repeat="receipt in receipts">
                    <td>
                        <input type="checkbox" ng-model="receipt.selected"/>
                    </td>
                    <td><a href="/warehouse/receiptDetail/:{[{receipt.id}]}">{[{receipt.Ident}]}</a></td>
                    <td>{[{receipt.ActualWeight}]}</td>
                    <td>{[{receipt.ActualUnitSize}]}</td>
                    <td>{[{receipt.PackagingType}]}</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-3">
            <form class="form-horizontal" role="form" ng-submit="createReceipt()">

                <button type="submit" class="btn btn-primary">{{{__ "New"}}}</button>
                <!--<button type="submit" class="btn btn-primary addnew pull-right" ng-click="copyRecipe">{{{__ "Copy"}}}</button>-->

            </form>
            <button id='deleteJob' class="btn btn-danger" ng-click="remove()">{{{__ "Delete"}}}</button>
        </div>
    </div>
</div>
{{#section 'jquery'}}
    <script src="/js/app/receiptApp.js"></script>

{{/section}}
