{{#section 'head'}}
    <style>
        HTMLJSCSSDIALOG1.TMPL.HTMLTABDIALOG.TMPL.HTML
        .dialogdemoBasicUsage #popupContainer {
            position: relative; }
        .dialogdemoBasicUsage .footer {
            width: 100%;
            text-align: center;
            margin-left: 20px; }
        .dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
            font-size: 0.8em;
            margin-top: 50px; }
        .dialogdemoBasicUsage button {
            width: 200px; }
        .dialogdemoBasicUsage div#status {
            color: #c60008; }
        .dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
            margin-bottom: 0; }
    </style>


{{/section}}
<!--<span id="text">{{{__ "text to test"}}}</span>-->
<!--<br>-->
<!--<span id="onecat">{{{__n "%d cat" "%d cats" 1}}}</span>-->
<!--<br>-->
<!--<span id="twocats">{{{__n "%d cat" "%d cats" 2}}}</span>-->

<div class="container main" ng-app="mainApp" ng-controller="MainCtrl">
    <div class="row">
        <div class="col-lg-12">
            <!--Navigation-->
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">FLCos</a>
                    </div>

                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">{{{__ "Home"}}}</a></li>
                            {{> menus}}
                            <!--<li class="dropdown">-->
                            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">Warehouse <span-->
                            <!--class="caret"></span></a>-->
                            <!--<ul class="dropdown-menu">-->
                            <!--<li><a target="_blank" href="/warehouse/rawwarehouse">Raw Warehouse</a></li>-->
                            <!--<li><a href="/warehouse/dispensary:dis1">Disp1 Warehouse</a></li>-->
                            <!--<li><a href="#">Disp2 Warehouse</a></li>-->
                            <!--<li><a href="#">FinishedProduct</a></li>-->
                            <!--<li><a href="#">LotManagement</a></li>-->
                            <!--</ul>-->
                            <!--</li>-->
                            <!--<li class="dropdown">-->
                            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">Intake <span-->
                            <!--class="caret"></span></a>-->
                            <!--<ul class="dropdown-menu">-->
                            <!--<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">INT1-->
                            <!--<span-->
                            <!--class="caret"></span></a>-->
                            <!--<ul class="dropdown-menu-right">-->
                            <!--<li><a target="_blank" href="/job/jobList/:INT1">Jobs</a></li>-->
                            <!--<li><a target="_blank" href="/job/jobLogList/:INT1">Job Log</a></li>-->
                            <!--<li><a target="_blank" href="/Line/LineDetail/:INT1">Line</a></li>-->
                            <!--</ul>-->
                            <!--</li>-->
                            <!--<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">INT2-->
                            <!--<span-->
                            <!--class="caret"></span></a>-->
                            <!--<ul class="dropdown-menu">-->
                            <!--<li><a target="_blank" href="/jobs/jobList:INT2">Jobs</a></li>-->
                            <!--<li><a target="_blank" href="/jobs/jobLogList:INT2">Job Log</a></li>-->
                            <!--<li><a target="_blank" href="/Line/LineDetail:INT2">Line</a></li>-->
                            <!--</ul>-->
                            <!--</li>-->
                            <!--</ul>-->
                            <!--</li>-->
                            <!--<li class="dropdown">-->
                            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">Production <span-->
                            <!--class="caret"></span></a>-->
                            <!--<ul class="dropdown-menu">-->
                            <!--<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">MIX1-->
                            <!--<span-->
                            <!--class="caret"></span></a>-->
                            <!--<ul class="dropdown-menu">-->
                            <!--<li><a target="_blank" href="/jobs/jobList:MIX1">Jobs</a></li>-->
                            <!--<li><a target="_blank" href="/jobs/jobLogList:MIX1">Job Log</a></li>-->
                            <!--<li><a target="_blank" href="/Line/LineDetail:MIX1">Line</a></li>-->
                            <!--</ul>-->
                            <!--</li>-->
                            <!--</ul>-->
                            <!--</li>-->
                            <!--<li><a href="#">Process</a></li>-->
                            <!--<li><a href="#">DatabaseManage</a></li>-->
                            <!--<li><a href="#">Users</a></li>-->
                            <!--<li class="dropdown">-->
                            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">Language<span-->
                            <!--class="caret"></span></a>-->
                            <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="#">Chinese</a></li>-->
                            <!--<li><a href="#">English</a></li>-->
                            <!--<li><a href="#">German</a></li>-->
                            <!--<li><a href="#">French</a></li>-->
                            <!--<li><a href="#">Italian</a></li>-->
                            <!--</ul>-->
                            <!--</li>-->
                        </ul>
                        {{#if user}}
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/logout"><span
                                        class="glyphicon glyphicon-log-out"></span> {{{__ "Logout"}}}</a></li>
                                <li><a href="/profile"><span
                                        class="glyphicon glyphicon-user"></span>
                                    {{#if user.DisplayName}}
                                        {{user.DisplayName}}
                                    {{else}}
                                        {{user.UserName}}
                                    {{/if}}
                                </a></li>
                            </ul>
                        {{else}}
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/signup"><span
                                        class="glyphicon glyphicon-registration-mark"></span>{{{__ "Sign Up"}}}</a></li>
                                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> {{{__ "Login"}}}
                                </a></li>
                            </ul>
                        {{/if}}

                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row row-md-height">
        <div class="col-lg-8">
            <!--showing message-->
            <div class="form-group">
                <label class="col-md-1 control-label">{{{__ "ErrorList"}}}</label>
                <select class="col-md-11" name="ErrorList" id="ErrorList" ng-model="selectedError">
                    <option ng-repeat="error in errors" value="{[{error.id}]}">{[{error.message}]}</option>
                </select>
                <input type="button" value = "弹出" onclick = "pp()">
            </div>
        </div>
        <div class="col-lg-4">
            <!--tools buttons-->
            <div class="btn-group pull-right" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">{{{__ "Reset"}}}</button>
                <button type="button" class="btn btn-primary">{{{__ "Continue"}}}</button>
                <button type="button" class="btn btn-danger">{{{__ "Stop"}}}</button>
            </div>
        </div>
    </div>
    <div class="row">
        {{> navigations}}
        <!--<div class="col-lg-3">-->
        <!--&lt;!&ndash;navigation buttons&ndash;&gt;-->
        <!--<ul class="nav nav-pills nav-stacked">-->
        <!--<li class="active"><a data-toggle="pill" href="#home">Home</a></li>-->
        <!--<li><a data-toggle="pill" href="#menu1">Menu 1</a></li>-->
        <!--<li><a data-toggle="pill" href="#menu2">Menu 2</a></li>-->
        <!--<li><a data-toggle="pill" href="#menu3">Menu 3</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-lg-9">-->
        <!--&lt;!&ndash;visualization&ndash;&gt;-->
        <!--<div class="tab-content">-->
        <!--<div id="home" class="tab-pane fade in active">-->
        <!--<h3>HOME</h3>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut-->
        <!--labore et dolore magna aliqua.</p>-->
        <!--</div>-->
        <!--<div id="menu1" class="tab-pane fade">-->
        <!--<h3>Menu 1</h3>-->
        <!--<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
        <!--consequat.</p>-->
        <!--</div>-->
        <!--<div id="menu2" class="tab-pane fade">-->
        <!--<h3>Menu 2</h3>-->
        <!--<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,-->
        <!--totam rem aperiam.</p>-->
        <!--</div>-->
        <!--<div id="menu3" class="tab-pane fade">-->
        <!--<h3>Menu 3</h3>-->
        <!--<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt-->
        <!--explicabo.</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>
{{#section 'jquery'}}
    <script src="/js/mainApp.js"></script>
    <script src="/js/SVGCtrl.js"></script>
{{/section}}