<div class="container" ng-app="recipeApp" ng-controller="RecipeDetailCtrl">
    <div class="row">
        <!--<div class="col-lg-3">-->
        <!--<label>{[{result}]}</label>-->
        <!--</div>-->
        <div class="col-lg-8">
            <h2>{{{__ "Recipe Detail"}}}</h2>
            <br>
            <label>{[{result}]}</label>
        </div>
        <div class="col-lg-3">
            <h4><a href="/admin/recipe/recipeList">{{{__ "Recipe List"}}}</a></h4>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <input id="recipe" type="text" class="hidden" value="{{recipe}}"/>
            <!--<input id="id" type="text" class="hidden" value="{{recipe.id}}"/>-->
            <!--<input id="Ident" type="text" class="hidden" value="{{recipe.Ident}}"/>-->
            <!--<input id="Name" type="text" class="hidden" value="{{recipe.Name}}"/>-->
            <!--<input id="LineIdent" type="text" class="hidden" value="{{recipe.LineIdent}}"/>-->
            <!--<input id="JobIdent" type="text" class="hidden" value="{{recipe.JobIdent}}"/>-->
            <form class="form-horizontal" role="form" ng-submit="update()">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{{__ "Ident"}}}</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="Ident"
                               ng-model="recipe.ident"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{{__ "Name"}}}</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="Name"
                               ng-model="recipe.name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{{__ "LineIdent"}}}</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="LineIdent"
                               ng-model="recipe.lineIdent"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{{__ "Is Produce"}}}</label>
                    <div class="col-md-4">
                        <input type="checkbox" class="form-control" name="isProduce"
                               ng-model="isProduce" ng-change="setStorages()"/>
                    </div>
                </div>
                <div class="form-group">
                    <div style="padding-left:300px">
                        <input type="submit" value="Submit" class="btn btn-primary"/>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <!--navigation buttons-->
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a data-toggle="pill" href="#Senders">{{{__ "Senders"}}}</a></li>
                <li><a data-toggle="pill" href="#Receivers">{{{__ "Receivers"}}}</a></li>
            </ul>
        </div>
        <div class="col-lg-7">
            <!--visualization-->

            <div class="tab-content">
                <div id="Senders" class="tab-pane fade in active">
                    <div class="col-lg-9">
                        <table class="table table-bordered table-hover">
                            <caption> {{{__ "Senders"}}}</caption>
                            <thead>
                            <tr>
                                <th><input type="checkbox" ng-model="sendersSelectedAll" ng-click="senderCheckAll()"/>
                                </th>
                                <th>{{{__ "ProductIdent"}}}</th>
                                <th>{{{__ "StorageIdent"}}}</th>
                                <th>{{{__ "TargetPercentage"}}}</th>
                                <th>{{{__ "TargetWeight"}}}</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="sender in recipe.senders">
                                <td>
                                    <input type="checkbox" ng-model="sender.selected"/>
                                </td>
                                <td>{[{sender.productIdent}]}</td>
                                <td><select class="col-md-8" name="senderStorage" id="senderStorage" ng-model="sender.StorageId">
                                    <option ng-repeat="senderStorage in senderStorages" value="{[{senderStorage.id}]}">
                                        {[{senderStorage.ident}]}
                                    </option>
                                </select>
                                </td>
                                <td><input type="number" min="0.0" max="100.0" ng-model="sender.targetPercentage">%</td>
                                <td><input type="number" min="0.0" max="100.0" ng-model="sender.targetWeight"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-3">
                        <!--navigation buttons-->
                        <button type="submit" class="btn btn-primary" ng-click="createSender()">{{{__ "New"}}}</button>
                        <button id='deleteJob' class="btn btn-danger"
                                ng-click="removeSender()">{{{__ "Delete"}}}</button>
                    </div>
                </div>
                <div id="Receivers" class="tab-pane fade">
                    <div class="col-lg-9">
                        <table class="table table-bordered table-hover">
                            <caption> {{{__ "Receivers"}}}</caption>
                            <thead>
                            <tr>
                                <th><input type="checkbox" ng-model="receiversSelectedAll"
                                           ng-click="receiversCheckAll()"/></th>
                                <th>{{{__ "ProductIdent"}}}</th>
                                <th>{{{__ "StorageIdent"}}}</th>
                                <th>{{{__ "TargetPercentage"}}}</th>
                                <th>{{{__ "TargetWeight"}}}</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="receiver in recipe.receivers">
                                <td>
                                    <input type="checkbox" ng-model="receiver.selected"/>
                                </td>
                                <td>{[{receiver.productIdent}]}</td>
                                <td><select class="col-md-8" name="receiverStorage" id="receiverStorage"
                                            ng-model="receiver.StorageId">
                                    <option ng-repeat="receiverStorage in receiverStorages"
                                            value="{[{receiverStorage.id}]}">
                                        {[{receiverStorage.ident}]}
                                    </option>
                                </select>
                                </td>
                                <td><input type="number" min="0.0" max="100.0" ng-model="receiver.targetPercentage">%
                                </td>
                                <td><input type="number" min="0.0" max="100.0" ng-model="receiver.targetWeight"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-3">
                        <!--navigation buttons-->
                        <button type="submit" class="btn btn-primary"
                                ng-click="createReceiver()">{{{__ "New"}}}</button>
                        <button id='deleteJob' class="btn btn-danger"
                                ng-click="removeReceiver()">{{{__ "Delete"}}}</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-3">
            <!--navigation buttons-->
        </div>
        <div class="col-lg-9">
            <!--visualization-->
        </div>
    </div>
</div>
{{#section 'jquery'}}

    <script src="/js/app/recipeApp.js"></script>

{{/section}}